/**

Global

*/

/* Use system fonts */
body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
}

/* Remove navbar logo */
.bird-topbar-etched {
	display: none !important;
}

/* Remove "Moments" tab */
#global-actions .moments {
	display: none !important;
}

/* Promote layers to fix repaints */
#permalink-overlay,
.RichEditor-tempTextArea {
	will-change: transform;
}

/* Remove annoying suggestions in the Search popover */
#typeahead-dropdown-1 .typeahead-topics {
	display: none !important;
}
#typeahead-dropdown-1 .typeahead-topics + ul {
	border: 0 !important;
}

/* Highlight your mentions in the stream */
[data-mentioned-user-id] {
    position: relative;
    padding: 2px 5px 4px 5px;
}

body:not(.NotificationsPage) .tweet.refined-twitter_mention:not(.permalink-tweet) {
    background-color: rgba(var(--refined-twitter_bgcolor-values), 0.1);
}

body:not(.NotificationsPage) .tweet.refined-twitter_mention:not(.permalink-tweet):hover {
    background-color: rgba(var(--refined-twitter_bgcolor-values), 0.2);
}

/**

Dashboard

*/

/* Remove the profile box */
.module.DashboardProfileCard {
	display: none !important;
}

/* Remove the "Trends for you" box */
.module.trends {
	display: none !important;
}

/* Remove the "Who to follow" box */
.module.wtf-module {
	display: none !important;
}

/* Remove the footer box */
.module.Footer {
	display: none !important;
}

/* Remove sidebars */
.dashboard-left,
.dashboard-right {
	display: none !important;
}

/* Center the tweet stream */
#page-container {
	width: unset !important;
}
#page-container .content-main {
	margin: 0 auto !important;
	float: unset !important;
}

/* Custom inline image element */
.AdaptiveMedia .refined-twitter_instagram-inline {
	max-width: 100%;
}

/* Prevent DM Modal from closing when clicking the overlay */
#dm_dialog {
	pointer-events: none;
}
#dm_dialog-dialog {
	pointer-events: auto;
}

/* Custom spacing for replaced emoji */
.refined-twitter_emoji {
	letter-spacing: 0.5em;
}

/* Hide list-add activity */
#stream-items-id .js-activity-list_member_added {
	display: none;
}

/* Hide follow activity */
#stream-items-id .js-activity-follow {
	display: none;
}
